@inherits Umbraco.Web.Mvc.UmbracoViewPage<TableEditor.Models.TableEditorModel>

@{
    var rowIndex = 0;
}
<div class="table-editor-wrapper">
    <table class="@Model.TableStyle">
        @{       
            <tbody>
                @foreach (var row in Model.Cells){
                    <tr class="@Model.RowStylesSelected.ElementAtOrDefault(rowIndex)">
                        @{
                            var columnIndex = 0;
                            <td style="padding-right: 10px;"><b>@row.First().Value</b></td>
                        
                        <td>
                            @foreach (var column in row){
                            if(columnIndex != 0){
                            if(column.Value != "" && columnIndex > 1){
                                 <span>/</span> @Html.Raw(column.Value)
                                }
                                else if(column.Value != ""){
                                @Html.Raw(column.Value)
                                }
                            }
                                columnIndex++;
                            }
                        </td>
                            rowIndex++;
                        }
                    </tr>
                }
            </tbody>
        }
    </table>
</div>